[submodule "SQL_project-Transforming_and_Analysing_Data_withSQL"]
	path = SQL_project-Transforming_and_Analysing_Data_withSQL
	url = https://github.com/LaraOnipede/SQL_Project.git
[submodule "Statistical_Modelling_with_Python"]
	path = Statistical_Modelling_with_Python
	url = https://github.com/LaraOnipede/Stat_Modelling_with_Python.git
[submodule "Tableau-DataVisualization_And_Dashboards_with_Tableau"]
	path = Tableau-DataVisualization_And_Dashboards_with_Tableau
	url = https://github.com/LaraOnipede/Laras_Tableau_project.git
[submodule "Supervised_Machine_Learning_Project"]
	path = Supervised_Machine_Learning_Project
	url = https://github.com/LaraOnipede/ML-project-supervised-learning.git
